.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: #e4e4e4; 
    width: 25%;
    margin: 0 auto;
    height: 40vh;
    margin-top: 10%;
}
h1{
    color:#3b3b3b;
}
label {
    color: #575757;
    font-size: 1em;
    padding: 4px;
    font-weight: 600;
}
#passwordSize{
    margin-bottom: 30px;
    width: 40%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
textarea{
    resize: none;
}
button{
    background-color: #b6b6b6;
    padding: 10px 60px;
    font-weight: 800;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}
button:hover{
    background-color: #608a4c;
    color: #eeeeee;
}
textarea{
    color: #3b3b3b;
    width: 80%;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    font-size: 1.2em;
}
